.footer__section {
    background-color: #E7ECFF;
}

.footer__branding {
    justify-content: space-between;
    display:flex;
}

.footer__year {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #939EA4;
}

.footer__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
}

.footer__rectangle {
    width: 1100px;
    height: 1px;
    background:#CDD1D4;
    margin-left: 165px;
    margin-bottom: 25px;
    margin-top: 40px;
}

.footer__label {
    width: 110px;
    background: #111b47;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
}

.footer__nav ul {
    display: flex;
    padding-left: 435px;
    margin-top: 20px;
}

.footer__nav-item {
    margin-right: 60px;
    font-size: 14px;
}

.footer__socials {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 20px;
}


.footer__social__link {
    width: 16px;
    height: 16px;
    margin-left: 30px;
}