.footer {
    background: #E7ECFF;
    padding: 60px 0 32px;
    width: 100vw;
}

.footer__container {
    width: 100vw;
}

.footer__navigation {
    display: flex;
    justify-content: space-between;
}

.footer__branding {
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__branding__date {
    font-weight: 500;
    font-size: 14px;
    color: #939ea4;
}

.footer__branding__logo {
    font-weight: 900;
    font-size: 26px;
    color: #37447e;
}

.footer__branding__label {
    width: 110px;
    background: #111b47;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    padding: 5px 0;
    margin-left: auto;
    margin-right: auto;
}

.footer__hr {
    background: #cdd1d4;
    margin: 40px 0 20px;
    height: 1px;
    border: 0;
}

.footer__links {
    font-size: 14px;
    color: #929ecc;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    width: 100vw;

}

.footer__links ul {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.footer__links li {
    margin-left: 30px;
    margin-right: 30px;
}

.footer__links a {
    color: #929ECC;
    text-align: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.footer__social__link {
    width: 16px;
    height: 16px;
}

.footer__social__link:not(:first-child) {
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .footer__navigation, .footer__branding, .footer__links ul {
        flex-direction: column;
        text-align: center;
    }
    .footer__branding>* {
        margin-bottom: 15px;
    }
    .footer__links li {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 24px;
        text-align: center;
    }
}