header {
    position: fixed;
    top: 0;
    width: 1366px;
    background-color: white;
    padding-top: 10px;
    display: flex;
    align-items: center;
    z-index: 10;
}

header .logo {
    margin-left: 84px;
}

.header__nav {
    display: flex;
    align-items: center;
    margin-left: 360px;
}

.header__nav-link a {
    width: 80px;
    font-family: cursive;
    font-size: 18px;
    background-color: violet;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
}

.header__nav-link a:hover {
    background-color: darkorchid;
}

.header__nav-link a.active {
    background-color: whitesmoke;
}